@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Library of Jacob</h1>
    <p>"O you who considers himself to be a true man! Read yourself!"</p>
</div>
